* {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold; 
    font-size: 15px;
}
#custom-notification {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 17px;
    color: #A1BDCE;
    padding-right: 0.8em;
}
window#waybar {
    background: #0F0F17; 
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
tooltip {
    background: #171717;
    color: #A1BDCE;
    font-size: 13px;
    border-radius: 7px;
    border: 2px solid #101a24;
}
#workspaces{
background: rgba(23, 23, 23, 0.0);
    color: #888789;
    box-shadow: none;
	text-shadow: none;
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
}
#workspaces button {
background: rgba(23, 23, 23, 0.0);
    color: #A1BDCE;
    box-shadow: none;
	text-shadow: none;
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
}
#workspaces button.active {
    color: #A1BDCE;   
    transition: all 0.3s ease;
    padding-left: 4px;
    padding-right: 4px;
}
#workspaces button:hover {
    background: none;
    color: #72D792;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}
#tray menu * {
    min-height: 16px;
    font-weight: bold;
    font-size: 13px;
    color: #9488e3;
}
#tray menu separator {
    min-height: 10px
}
#custom-spacer{
    opacity: 0.0;
}
#custom-smallspacer{
    opacity: 0.0;
}
#custom-mouse{
    font-size: 14px;
    margin-bottom: 6px;
    background:  #161320;
}
#custom-power{
    font-size: 15px;
    color: #FFFFFF;
    background:  rgba(22, 19, 32, 0.9);
    margin: 6px 0px 6px 0px;
    padding-left: 4px;
    padding-right: 4px;
}
#backlight{
    color: #2096C0;
    font-size: 19px;
    padding-left: 0px;
    padding-right: 2px;
}
#bluetooth{
    font-size: 1.2em;
    color: #6F8FDB;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
#battery{
    font-weight: normal;
    font-size: 22px;
    color: #a6d189;
    background:  rgba(23, 23, 23, 0.0);
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#clock{
    color: #ffd1dc;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#cpu{
    color: #b37cd3;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
#memory{
    color: #80e976;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
#mpris{
    color: white;
    animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}
#temperature{
    color: #ffb380;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
#disk{
    color: #ff80c8;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
#wireplumber {
    color: #cbeaff;
    padding-right: 0.2em;
    padding-left: 0.2em;
}
#network{
    color: #00FFF7;
    font-size: 1.2em;
    padding-right: 0.4em;
    padding-left: 0.4em;
}
#taskbar,
#custom-menu{
    color: #E8EDF0;
    background:  rgba(23, 23, 23, 0.0);
    margin: 0px 0px 0px 0px;
    padding-left: 1px;
    padding-right: 1px;
    opacity: 0.3
}
#tray,
#window{
    padding-left: 2em;
    padding-right: 2em;
    color: #A1BDCE;
    font-family: "Martian Mono";
}
#cava{
    color: #6C71C4;
}
#upower#headset,
#upower{
    color: #a6d189;
}
#mpris{
    font-size: 15px;
    font-weight: bold
}
#backlight-slider slider,
#backlight-slider trough,
#backlight-slider highlight,
#battery.charging, #battery.plugged {
	color: #E8EDF0;	
}
#battery.critical:not(.charging) {
    color: red;
}
#taskbar {
    padding: 1px;
}