* {
    all: initial;
}
* {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold; 
    font-size: 15px;
}
window#waybar {
    background: #0F0F17; 
    border: 0.2rem solid rgba(255, 255, 255, 0.1);
    border-radius: 0.6rem;
}
tooltip {
    background: #171717;
    color: #A1BDCE;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #101a24;
}
#workspaces {
    padding: 0 0.3rem;
}
#workspaces button {
    padding: 0.3rem 0.4rem;
    border: none;
    min-width: 1.25rem;
    color: #6c7086;
    background: none;
}
#workspaces button:hover label {
    color: #f38ba8;
    transition: color 0.3s ease;
}
#tray menu * {
    min-height: 16px;
    font-weight: bold;
    font-size: 13px;
    color: #9488e3;
}
#tray menu separator {
    min-height: 10px
}
#custom-spacer{
    opacity: 0.0;
}
#custom-smallspacer{
    opacity: 0.0;
}
#custom-power{
    font-size: 15px;
    color: #FFFFFF;
    background:  rgba(22, 19, 32, 0.9);
    margin: 6px 0px 6px 0px;
    padding-left: 4px;
    padding-right: 4px;
}
#backlight{
    color: #2096C0;
    font-size: 19px;
    padding-left: 0px;
    padding-right: 2px;
}
#bluetooth{
    font-size: 1.2em;
    color: #6F8FDB;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
#battery{
    font-size: 22px;
    color: #a6d189;
    background:  rgba(23, 23, 23, 0.0);
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#clock{
    color: #ffd1dc;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#cpu{
    color: #b37cd3;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
#memory{
    color: #80e976;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
#mpris{
    color: white;
    animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}
#temperature{
    color: #ffb380;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
#disk{
    color: #ff80c8;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
#wireplumber {
    color: #cbeaff;
    padding-right: 0.2em;
    padding-left: 0.2em;
}
#network{
    color: #00FFF7;
    font-size: 1.2em;
    padding-right: 0.4em;
    padding-left: 0.4em;
}
#taskbar,
#custom-menu{
    color: #E8EDF0;
    background:  rgba(23, 23, 23, 0.0);
    margin: 0px 0px 0px 0px;
    padding-left: 1px;
    padding-right: 1px;
    opacity: 0.5;
}
#tray,
#window{
    padding-left: 2em;
    padding-right: 2em;
    color: #A1BDCE;
    font-family: "Martian Mono";
}
#cava{
    color: #6C71C4;
}
#upower#headset,
#upower{
    color: #a6d189;
}
#backlight-slider slider,
#backlight-slider trough,
#backlight-slider highlight,
#battery.charging, #battery.plugged {
	color: #E8EDF0;	
}
#battery.critical:not(.charging) {
    color: red;
}
#taskbar {
    padding: 1px;
}
#custom-notification {
    font-size: 17px;
    color: #A1BDCE;
    padding-right: 0.8em;
}